Lib
Scripts
Include
__pycache__
# Python
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
media/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# System files
.DS_Store
Thumbs.db

# Other
*.pot
*.mo
*.db


